<section id="panelDestinos">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 contAdminDestinos">
                <table class="table tablaDestinos">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Viaje</th>
                        <th scope="col">Fecha ida</th>
                        <th scope="col">Fecha vuelta</th>
                        <th scope="col">descripcion</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Activo</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#if destinos.length}}
                        {{#each destinos}}
                            <tr>
                                <th scope="row">{{id_destino}}</th>
                                <td>{{viaje}}</td>
                                <td>{{fechaIda}}</td>
                                <td>{{fechaVuelta}}</td>
                                <td>{{descripcion}}</td>
                                <td><img src="/images/{{imagen}}"></td>
                                <td>{{precio}} €</td>
                                <td>
                                    <input type="checkbox" onclick='window.location.assign("/admin/destinos/active/{{id_destino}}")'  id="customCheck1" {{#if activo}} checked  {{/if}}>
                                </td>
                                <td><button type="button"  onclick='window.location.assign("/admin/destinos/delete/{{id_destino}}")' class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
                            </tr>
                        {{/each}}
                    {{/if}}
                    </tbody>
                </table>
                <h4>Añadir destino nuevo</h4>
                <form action="/admin/destinos/create" method="post">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" name="viaje" placeholder="Viaje" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="fecha_ida" placeholder="Fecha ida" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="fecha_vuelta" placeholder="Fecha vuelta" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="descripcion" placeholder="descripcion" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="imagen" placeholder="imagen" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="precio" placeholder="precio" required>
                        </div>
                        <div class="col">
                            <select id="inputState" class="form-control" name="activo">
                                <option value="0" selected>No</option>
                                <option value="1">si</option>
                            </select>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i></button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
